<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>

<p th:text="${'Id: ' + student.getId()}">VALUE</p>
<p th:text="${'Name: ' + student.getName()}">VALUE</p>
<a th:href="@{/students/{id}/showCart(id=${student.getId()})}">Show cart</a>
<a th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>
<a th:href="@{/students/{id}/addBook(id=${student.getId()})}">Library</a>

<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>